.mainRow {
    height: 100%;

    .ContentRow {
        margin-top: 45px;

        > .HeaderRow {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
        }

        .DeletedRow {
            background: #FFC1C1;
        }
    }
}

.sideMenuCol {
    height: 100%;
}